<!doctype html>
<html lang="en" ng-app="game">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pixi.js</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.6.2/pixi.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-controller="mainCtrl as vm">

    <div class="container">
        <div id="game"></div>
        <div class="speed">
            <i class="fa fa-minus" aria-hidden="true" ng-click="vm.changeSpeed(-1)"></i>
            <i class="fa fa-plus" aria-hidden="true" ng-click="vm.changeSpeed(1)"></i>
        </div>
        <span class="speed-counter">{{vm.speed}}</span>
        <div class="gravity">
            <i class="fa fa-minus" aria-hidden="true" ng-click="vm.changeGravity(-0.25)"></i>
            <i class="fa fa-plus" aria-hidden="true" ng-click="vm.changeGravity(0.25)"></i>
        </div>
        <span class="gravity-counter">{{vm.gravity}}</span>
    </div>

    <script src="app.js"></script>
</body>
</html>